---
title: Vérification
url: ./model/verification/
description: Vérification business function

practice_1: Évaluation de l'architecture
practice_1_url: architecture-assessment
practice_2: Tests axés sur les exigences
practice_2_url: requirements-driven-testing
practice_3: Tests de sécurité
practice_3_url: security-testing

keywords: ["Business function"]
---

La vérification se concentre sur les processus et les activités liés à la façon dont une organisation vérifie et teste les artefacts produits tout au long du développement de logiciels. Cela inclut généralement les activités d'assurance qualité telles que les tests, mais peut également inclure d'autres activités de revue et d'évaluation.

